[submodule "Connectors_IEC_DIN.pretty"]
	path = kicad/kicad_manual_mods/Connectors_IEC_DIN.pretty
	url = https://github.com/KiCad/Connectors_IEC_DIN.pretty
[submodule "Measurement_Scales.pretty"]
	path = kicad/kicad_manual_mods/Measurement_Scales.pretty
	url = https://github.com/KiCad/Measurement_Scales.pretty
[submodule "Microwave.pretty"]
	path = kicad/kicad_manual_mods/Microwave.pretty
	url = https://github.com/KiCad/Microwave.pretty
[submodule "Power_Integrations.pretty"]
	path = kicad/kicad_manual_mods/Power_Integrations.pretty
	url = https://github.com/KiCad/Power_Integrations.pretty
[submodule "Resistors_Universal.pretty"]
	path = kicad/kicad_manual_mods/Resistors_Universal.pretty
	url = https://github.com/KiCad/Resistors_Universal.pretty
[submodule "kicad/kicad_manual_mods/kicad-footprint-generator"]
	path = kicad/kicad_manual_mods/kicad-footprint-generator
	url = https://gitlab.com/kicad/libraries/kicad-footprint-generator
[submodule "kicad/kicad_manual_mods/kicad-footprints"]
	path = kicad/kicad_manual_mods/kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "kicad/kicad_manual_mods/kicad-library-utils"]
	path = kicad/kicad_manual_mods/kicad-library-utils
	url = https://gitlab.com/kicad/libraries/kicad-library-utils.git
[submodule "kicad/kicad_manual_mods/kicad-packages3D"]
	path = kicad/kicad_manual_mods/kicad-packages3D
	url = https://gitlab.com/kicad/libraries/kicad-packages3D.git
[submodule "kicad/kicad_manual_mods/kicad-symbols"]
	path = kicad/kicad_manual_mods/kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad/kicad_manual_mods/Pin_Headers.pretty"]
	path = kicad/kicad_manual_mods/Pin_Headers.pretty
	url = https://github.com/KiCad/Pin_Headers.pretty.git
[submodule "kicad/kicad_manual_mods/LEDs.pretty"]
	path = kicad/kicad_manual_mods/LEDs.pretty
	url = https://github.com/KiCad/LEDs.pretty.git
[submodule "kicad/kicad_manual_mods/Oscillators.pretty"]
	path = kicad/kicad_manual_mods/Oscillators.pretty
	url = https://github.com/KiCad/Oscillators.pretty.git
[submodule "kicad/kicad_manual_mods/Connectors_Tab.pretty"]
	path = kicad/kicad_manual_mods/Connectors_Tab.pretty
	url = https://github.com/KiCad/Connectors_Tab.pretty.git
[submodule "kicad/kicad_manual_mods/SparkFun-KiCad-Libraries"]
	path = kicad/kicad_manual_mods/SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries.git
[submodule "kicad/kicad_manual_mods/KiCAD-Libraries"]
	path = kicad/kicad_manual_mods/KiCAD-Libraries
	url = https://github.com/sww1235/KiCAD-Libraries.git
[submodule "research_sources/polytonic_fonts/literata"]
	path = research_sources/polytonic_fonts/literata
	url = https://github.com/googlefonts/literata.git
[submodule "research_sources/polytonic_fonts/source-sans"]
	path = research_sources/polytonic_fonts/source-sans
	url = https://github.com/adobe-fonts/source-sans
[submodule "research_sources/polytonic_fonts/source-serif"]
	path = research_sources/polytonic_fonts/source-serif
	url = https://github.com/adobe-fonts/source-serif
[submodule "research_sources/polytonic_fonts/walleye"]
	path = research_sources/polytonic_fonts/walleye
	url = https://github.com/chuckmasterson/walleye
[submodule "research_sources/polytonic_fonts/gsoc2018-arimamadurai"]
	path = research_sources/polytonic_fonts/gsoc2018-arimamadurai
	url = https://github.com/eellak/gsoc2018-arimamadurai
[submodule "research_sources/polytonic_fonts/gsoc2018-cantarell"]
	path = research_sources/polytonic_fonts/gsoc2018-cantarell
	url = https://github.com/eellak/gsoc2018-cantarell
[submodule "research_sources/polytonic_fonts/gsoc17-Eczar"]
	path = research_sources/polytonic_fonts/gsoc17-Eczar
	url = https://github.com/eellak/gsoc17-Eczar
